@charset "utf-8";

body{
	font-family: serif;
}
/*home-section start*/
#home-section{
  background:url(../images/japan.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  max-height: 850px;
  position: relative;
}
#home-slider a{
  margin:2rem;
}
#home-section::before{
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
#home-slider p{
  color:#fff;
  position: absolute;
  width: calc(100vw - 18px);
  height: calc(100vh - 18px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-section p{
  font-size: 7vmax;
}
.bd-example{
  width: 40%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.d-md-block {
  display: block!important;
  background: #00000085;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
/*home-section end*/

/*about-section start↓*/
#about-section h2{
  font-size: 3rem;
}

#about-section,#skill-section,#portfolio-section{
  padding-top:100px;
}

#about-section{
  text-align:center;
}

#about-section,#skill-section,#portfolio-section{
  background:url(../images/prim.png) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#about-section img{
  border-radius: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 60%;
}
#about-section h2{
  margin-bottom: 1rem;
}
#about-section p{
  margin-bottom:1rem;
}
.about-img{
  display: inline-block;
}
#about-img img{
  width: 30%;
}
/*aboutsection end*/

/*skillsection start↓*/
#skill-section h2{
  font-size:3rem;
  margin-top: 2rem;
}
#skill-section{
  text-align: center;
}
#skill-section p{
  margin:1rem;
}
.code{
  margin: 2rem;
}
#skill-section img{
  width: 80px;
}
/*.heading{
  border-bottom: 1px solid #444;
  display: inline-block;
  font-size: 2rem;
  padding-top: 7rem;
  margin-bottom: 6rem;
}*/
.heading{
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
  margin: 3rem;
  font-size: 2rem;
}

.heading:before, .heading:after { 
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.heading:before {
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}
.heading:after {
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}
table {
  border-radius:5px 5px 5px 5px;
  height: 30%;
  width: 30%;
  margin:0 auto;
  border-collapse: collapse;
  border: solid 3px #88888873;
  min-width: 300px;
  margin-bottom: 6rem;
}
table th, table td {
  border: dashed 3px #88888873;
  padding: 1rem;
}
table th{
  font-weight: bold;
  border-bottom: solid 3px #88888873;
}
table td{
 text-align: center;
 border-right: solid 3px #88888873;
 }

/*skillsection end*/
/*portfoliosection start*/
#portfolio-section h2{
  font-size: 3rem;
  margin-bottom: 4rem;
}
#portfolio-section{
   padding-bottom: 4rem;
}
.portfolio-img img{
  border-radius: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  display: block;
  margin: auto;
}
.portfolio-img a{
  text-align: center;
  display: list-item;
  padding-bottom: 4rem;
}
.po1{
  width: 90%;
}
#portfolio-section h4{
  margin-top: 2rem;
}
#portfolio-section{
  text-align: center;
}
#portfolio-section p{
  text-align: left;
}
.mg{
  margin-bottom:4rem;
}

.card{
  margin-bottom:3rem;
}
.card-title{
  font-size: 18px;
}
.card-body{
  font-size: 15px;
}
/*portfoliosection end*/
footer{
  text-align: center;
  padding: 20px;
  background:#343a40;
}
.footer-text{
  color: #ffffff8a;
  display: inline-block;
}
h2 {
  display: flex;
  align-items: center;
}
h2:before, h2:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  display: block;
}
h2:before {
  margin-right: .4em;
  background: linear-gradient(-90deg, #888, transparent);
}
h2:after {
  margin-left: .4em;
  background: linear-gradient(90deg, #888, transparent);
}

h4{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;

}
h5{
  min-width: 300px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  margin-top: 2rem !important;
  text-align: left;
}
.icon{
  font-size: 5rem;
}
.margin{
  margin-bottom:4rem;
  }

a:hover img.po1{
opacity:0.5;
filter:alpha(opacity=50);
-ms-filter: “alpha( opacity=50 )”;
}
.sub{
  font-size: 1.2rem !important;
}
/*h2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h2:before {
  left:0;
}
h2:after {
  right: 0;
}*/